body
{
    overflow-y: auto;  
    content: "";
    display: table;
    clear: both;      
    width: 100%;
}

#portfolio
{
    height: 100%;
    padding-bottom: 0;
}

/* .gallery
{
    padding-bottom: 500px;
} */

.gallery img
{
    width: 100%;
}

.analysis
{
    /* font-family: Helvetica, sans-serif; */
    text-align: left;
}

.analysis small
{
    font-size: 12px;
}

.analysis small a
{
    text-decoration: none;
    color: black;
}

.analysis small a:hover
{
    text-decoration: none;
    color: white;
}

.juxtapose
{
    padding-bottom: 0 !important;
}

.mcpt
{
}

.contact a {
    color: #D8FCFF;
    text-decoration: underline;
}

.contact a:hover
{
    color: white;
}

