html
{
    position: relative;
    height: 100%;
}

body
{
    height: 100%;
    /* font-family: 'Hammersmith One', sans-serif;  */
    /* font-family: 'Kreon', serif;  */
    font-family: 'Saira Semi Condensed', sans-serif; 
    /* font-family: 'Just Another Hand', cursive; */
    /* font-family: 'Saira Condensed', sans-serif; */
}

header
{
    /* background-image: url(https://unsplash.imgix.net/photo-1414490929659-9a12b7e31907); */
     background-image: url(images/stanford.png); 
    /* background: #4B9C55; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* margin-bottom: 50px; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home
{
    font-size: 75px;
    color: white;
}

#social
{
    position: fixed; 
    bottom: 0;
    /* Need this so it can stay at the bottom of the page while scrolling */
    z-index: 1;
}

.subtext
{
    color: #7F727A;
}

#arrow
{
    color: white;
}



#socialNav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

#socialNav li 
{
    float: left;
    font-size: 25px;
}

#socialNav li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#socialNav li a:hover
{
    background-color: transparent;
    text-decoration: none;
    color: black; 
}

#github a:hover
{
    color: black !important;
}

#linkedin a:hover
{
    color: #006EB1 !important;
}

#youtube a:hover
{
    color: #CD201F !important;
}

#vimeo a:hover
{
    color: #00ADEF !important;
}

#px500 a:hover
{
    color: black !important;
}

.content
{
    background: grey;
    height: 100vh;
    /* margin-bottom: 50px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-img
{
    max-width: 100%;
    /* max-height: 100%; */
}

.activeNav
{
    text-decoration: underline;
}

button
{
    background-color: transparent;
    border: none;
}

.content-portfolio
{
    background-color: lightgreen;
    overflow: hidden;
}

.content-portfolio:before,
.content-portfolio:after
{
    content: "";
    display: table;
}

.content-portfolio:after
{
    clear: both;
}

#mainNav
{
    color: black;
    position:fixed;
	top:0px;
	width:100%; 
	height:75px; 
	background-color:transparent;
	color: #FFFFFF;
	z-index:9999;
    display: none;
}

#mainNav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

#mainNav li 
{
    float: left;
    font-size: 25px;
}

#mainNav li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#mainNav li a:hover
{
    background-color: transparent;
    text-decoration: none;
    color: #4A7253;
}

footer
{
    background-color: darkgoldenrod;

    clear: both;
    position: relative;
    z-index: 10;
    /* height: 3em; */
    margin-top: -3em;
}

#footerNav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
     /* float: center;    */
}

#footerNav li:not(#email)
{
    float: left;
    font-size: 25px;
}

#footerNav li a:not(#email)
{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
}

#footerNav li a:hover
{
    /* background-color: grey; */
    text-decoration: none;

}
.portfolio-img
{
    background-color: grey;
    border-collapse: red;
}