html, body
{
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Chivo', sans-serif;
    overflow-x: hidden;
}

.main2
{
    height: 100%;
    background-color: #d6d6d6;
    width: 100%;
    background-image: url('../images/stanford.png');
    /* background-position: right; */
    /* background-position-x: -45px; */
    background-repeat: no-repeat;
    background-size: cover;
}

.main2 h1
{
    margin-top: 100px;
}


#foot
{
    text-align: left;
    padding-top: 50px;
    background-color: grey;
    height: 20%;
}

#foot img
{
    margin-top: -25px;
}
#foot p
{
    padding-left: 100px;
    background-color: blue;
    height: 175px;
    
}

#stuff
{
    background-color: green;
    height: 60px;
    margin-top: 100px;
}

#foot img
{
    padding: 15px 0px;
}

.sneakpeek2
{
    height: 25%;
    background-color: grey;
    width: 100%;
}

/* 
 *  Navigation
 */
.navbar
{
    height: 75px;
    background-color: transparent;
    background: transparent;
    background-color: #333333;    
    border-color: transparent;
}

.navbar-nav
{
    font-size: 20px;
    margin-top: 12.5px;
    margin-right: 100px;
    /* background-color: #939DA3;     */
}

.navbar-nav a
{
    color: #7C8489 !important;    
}

.navbar-nav a:hover
{
    color: white !important;    
}

.navbar-nav a.active
{
    text-decoration: underline;
}

.navbar-brand
{
    font-size: 40px;
    margin-top: 12px;
    margin-left: 75px !important;
    color: white !important;
}

/* 
 *  Main
 */
.main
{
    width: 100%;
    height: 90%;
    /* height: 450px; */
    background-color: #d6d6d6;
}

.main-inner
{  
    height: 300px;
    margin-top: 150px; 
}

#canvas
{  
    height: 500px;
    margin: 0;
    margin-top: 100px; 
    margin-left: -100px;
    /* background-color: blue; */
}

.intro
{
    /* margin-top: 20px; */
    margin-top: 25%;
    margin-left: 70px;
    height: 100%;
}

#im
{
    font-size: 95px;
    margin-top: -25px;
}

#jonlee
{
    font-size: 130px;
    margin-top: -30px;
    font-weight: bold;
    color: white;
}

.main-nav
{
    /* margin-left: 70px; */
    margin-top: 10px;
    margin-right: 50px;
    float: right;
    font-size: 15px;
}

.main-nav a
{
    color: #000;
}


ul.main-nav li
{
    display: inline !important;
}

#swe
{
    margin-top: -20px;
    color: white;
    opacity: .45;
}

.sneakpeek
{
    width: 100%;
    height: 10%;
    background-color: #939DA3;
    text-align: center;
    background-color: transparent;
}

.social
{
    margin-top: 15px;
    text-align: right;
}

.btn-circle 
{
    width: 50;
    height: 50px;
    text-align: center;
    padding: 12.5px 0;
    font-size: 25px;
    line-height: 1.42;
    border-radius: 25px;
    border-color: transparent;
    background-color: #7C8489;
    color: white;
}

.btn:hover
{
    background-color: #DDDDC7;
    border-color: transparent;
}

#contact
{
    margin-top: 15px;
    /* margin-left: 30px; */
    text-align: left;
}

#email
{
    color: #333333 !important;
    text-decoration: underline;
}

/* #px500:hover
{
    background-color: #0095E9 !important;
    color: white;
}

#linkedin:hover
{
    background-color: #007bb5 !important;
    color: white;
}

#youtube:hover
{
    background-color: #bb0000 !important;
    color: white;
}

#vimeo:hover
{
    background-color: #45bbff !important;
    color:white;
} */

/* Mobile */
/* @media(max-width: 700px)
{
    .navbar
    {
        margin-right: 0;
    }

    .navbar-brand
    {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    .main
    {
        width: 100%;
        height: 100%;
        background-color: #d6d6d6;
    }

    #canvas
    {
        height: 100%;
    }

    .intro
    {
        margin: 0;
    }

    .social
    {
        margin-top: 50px;
    }

    .sneakpeek
    {
        width: 100%;
        height: 35%;
        background-color: aqua;
    }

    .decor
    {
        background-image: none;
    }
} */