html, body
{
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Chivo', sans-serif;
    overflow-x: hidden;
}

/* ************************  
 *  Navigation ************
 * ************************/
.navbar
{
    height: 75px;
    background-color: transparent;
    background: transparent;
    background-color: #333333;    
    border-color: transparent;
}

.navbar-nav
{
    font-size: 20px;
    margin-top: 12.5px;
    margin-right: 100px;
}

.navbar-nav a
{
    color: #7C8489 !important;    
}

.navbar-nav a:hover
{
    color: white !important;    
}

.navbar-nav a.active
{
    text-decoration: underline;
}

.navbar-brand
{
    font-size: 40px;
    margin-top: 12px;
    margin-left: 75px !important;
    color: white !important;
}

/* This is only for the homepage */
#navbar-homepage
{
    opacity: .85;
}

/* ************************  
 *  Homepage Intro ********
 * ************************/

/* This gets used throughout the site */
.main
{
    width: 100%;
    height: 90%;
    background-color: #d6d6d6;
}

/* This is only for the homepage */
#main-homepage
{
    height: 100%;
    background-color: #d6d6d6;
    width: 100%;
    background-image: url('../images/stanford.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-inner
{  
    height: 300px;
    margin-top: 150px; 
}

.intro
{
    margin-top: 25%;
    margin-left: 70px;
    height: 100%;
}

#jonlee
{
    font-size: 130px;
    margin-top: -30px;
    font-weight: bold;
    color: white;
}

#swe
{
    margin-top: -20px;
    color: white;
    opacity: .45;
}

/* ************************  
 * Footer *****************
 * ************************/
.footer
{
    height: 25%;
    background-color: grey;
    width: 100%;
}

.social
{
    margin-top: 15px;
    text-align: right;
}

.btn-circle 
{
    width: 50;
    height: 50px;
    text-align: center;
    padding: 12.5px 0;
    font-size: 25px;
    line-height: 1.42;
    border-radius: 25px;
    border-color: transparent;
    background-color: #7C8489;
    color: white;
}

.btn:hover
{
    background-color: #DDDDC7;
    border-color: transparent;
}
