html
{
    min-height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Margin bottom by footer height */
    position: relative;
}

body
{
    padding-top: 50px;
    margin: 0;
    /* margin-bottom: 60px;*/ /*Footer */
}

.navbar
{
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

#main-jumbotron
{
    margin-top: 50px;
    height: 400px;
    color: white;
    /* text-shadow: black 0.3em 0.3em 0.3em; */
    /* background: url('../images/stanford.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  */
    background-color: red;
}

#opening
{
    padding-top: 75px;
}

.bucket h3
{
    margin-top: -5px;
}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: transparent;
}