/*
html { 
	background: url(../images/castle.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
*/

body {
	font-family: 'Ubuntu', sans-serif;
}

/****** N A V I G A T I O N *****/
.navbar-static-top {

}

.navbar-brand {
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.navbar-toggle {
	margin-top: 20px;
}

.navlink {
	margin-top: 10px;
	margin-bottom: 15px;
}

.navlink:hover {
	color: #877 !important;
}


/***** C O N T E N T *****/
.jumbotron {
	background-color: #fff;
	margin-top: -25px;
	margin-bottom: -25px;
	background: url(../images/castle4-sm.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 550px;
}

.jumbo-h1 {
	margin: 20px 65px;
	color: #000 !important;
}

.jumbo-p {
	margin: 0 20px;
}

.jumbo-btn {
	margin: 0 20px;
}

#hacker {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-animation-delay: .5s;
	color: #fff !important;
}

#check1 {
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	-animation-delay: 3.5s;	
}

#animator {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-animation-delay: 1.5s;
	color: #fff !important;
}

#check2 {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-animation-delay: 4s;	
}

#creative {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-animation-delay: 2.5s;
	color: #fff !important;
}

#check3 {
	-webkit-animation-delay: 4.5s;
	-moz-animation-delay: 4.5s;
	-moz-animation-delay: 4.5s;
	-animation-delay: 4.5s;	
}

#content {
	margin-top: -400px;
}

.content {
	margin-top: 100px;
	width: 100%;
	background: none;
}

#name {
	margin-top: -50px;
	color: #fff !important;
}

.viewPort {
	margin-top: 30px;
	background-color: 
}

.viewPort a {
	text-decoration: none;
	color: #fff !important;
}

.viewPort a:hover {
	text-decoration: none;
	color: #fff !important;
}

.heading {
	margin-top: -30px;
}

/***** P O R T F O L I O *****/
.jumbo-port {
	height: 200px;
	background: url(../images/epcot-sm.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.port-h1 {
	color: #fff !important;
	text-align: center;
	text-shadow: 0px 7px 14px rgba(0, 0, 0, 1);
}

.port {
	margin-bottom: 35px;
}


/***** A B O U T *****/
.jumbo-about {
	height: 200px;
	background: url(../images/popcentury2.png) no-repeat right; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#console {
	-webkit-animation-delay: .25s;
	-moz-animation-delay: .25s;
	-moz-animation-delay: .25s;
	-animation-delay: .25s;
}

#disney {
	-webkit-animation-delay: .75s;
	-moz-animation-delay: .75s;
	-moz-animation-delay: .75s;
	-animation-delay: .75s;
}

.about-stuff {
	color: #000 !important;
}


/***** F O O T E R *****/
.footer {
	border-style: none !important;
	background-color: #000 !important;
	height: 75px !important;
}

.navbar-text {
	color: #fff !important;
}

.navbar-btn {
	color: #fff !important;
}

.navbar-btn:hover {
	color: #877 !important;
}

.navbutton {
	background-color: #fff !important;
}

.navbar-text a {
	color: #fff !important;
}

.navbar-text a:hover {
	text-decoration: none;
	color: #877 !important;
}


/***** B L O G S *****/
#blogPost {
	margin-left: 65px;
	margin-right: 65px;
}

.day {
	text-align: right;
}

/***** O L D  F O O T E R *****
.footer {
	border-style: hidden !important;
}

.navbar-fixed-bottom {
	margin-top: -10px;
}

.navbar-text {
	color: #fff !important;
}

.navbar-btn {
	color: #fff !important;
}

.navbar-btn:hover {
	color: #877 !important;
}